@use "sass:color";

$background-color: color.change(red, $alpha: 0.2);

.warning-box-translation {
    margin: 10px 5% 25px;
    // font-weight: bold;
    background-color: $background-color;
    padding: 10px 15px;
    border-radius: 15px;
    border: solid 2px red;

    .title {
        font-weight: bold;
        margin-bottom: 10px;
        font-size: x-large;
    }
}