name: Deploy PR previews

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed

concurrency: 
    group: preview-${{ github.ref }}
    cancel-in-progress: true

jobs:
  deploy-preview:
    name: Deploy preview of PR
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
    
      - name: Get URL of pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        id: url
        run: |
          {
            echo "URL<<EOF"
            gh api "repos/$GITHUB_REPOSITORY/pages" --jq ".html_url" | sed 's,/*$,,'
            echo EOF
          } >> "$GITHUB_OUTPUT"

      - name: Install dependencies
        if: github.event.action != 'closed' # You might want to skip the build if the PR has been closed
        run: |
          npm ci

      - name: List installed packages
        if: github.event.action != 'closed' # You might want to skip the build if the PR has been closed
        run: |
          npm list --depth 1
      
      - name: List installed scripts
        if: github.event.action != 'closed' # You might want to skip the build if the PR has been closed
        run: |
          ls -l node_modules/.bin

      - name: Build preview
        if: github.event.action != 'closed' # You might want to skip the build if the PR has been closed
        run: |
          echo "Using base URL ${{ steps.url.outputs.URL }}"
          npm run build -- \
            --baseURL "${{ steps.url.outputs.URL }}/pr-preview/pr-${{ github.event.number }}"
          rm -f public/.nojekyll

      - name: Deploy preview
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: ./public/

